/vendor/
/node_modules/
/frontend/node_modules/
/tests/e2e/node_modules/
/tests/e2e/playwright-report/
/tests/e2e/test-results/
/.phpunit.cache/
/public/assets/
/typo3-installer.php
/typo3-installer.phar
/typo3-installer.phar.zip
/.env
/.env.local
/test-installer-root/*
/test-installer-root/public/*
!/test-installer-root/public
!/test-installer-root/public/.gitkeep
/var/
/.phpstan.cache
/frontend/dist/
/.idea/
/.vscode/
/test-results/
/playwright-report/
/public
/.php-cs-fixer.cache
.deploy-servers.json
/tests/e2e/*/playwright-report
/tests/e2e/*/test-results
/tests/e2e/*/junit.xml
